*~
*.o
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
src/Makefile.in
Makefile
config.h
config.log
config.status
src/.deps/
src/Makefile
xsstamp-h1
src/bsortstamp-h1
*.orig
stamp-h1
src/bsort
